// colour palette
$blue:rgb(50, 41, 95);
$lightblue:#adc1ff34;
$paleblue:#cddbff;
$purple:#DCDBE8;
$red: #FF3D45;
$yellow: #E8BC59;
$green:rgb(40, 158, 0);
$darkgrey:#1b1b1b;

// Font
$body-font: 'Poppins',
sans-serif;
$title-font: 'Open Sans',
sans-serif;
$standard-font-size:1em;
// Text Styling 
body {
    font-family: $body-font;
    margin:0;
    padding: 0;
}

.home-content{
    margin-top: 55px;
}
.content{
    margin: 50px;
}

.in-text-link {
    text-decoration: none;
    color: $blue;
    font-family: $body-font;
}

.in-text-link:hover {
    color: $green;
    transition-duration: 1s;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $title-font;
    margin-left: 10px;
}
h1{
    font-size: $standard-font-size*2;

}

h2{
font-size: $standard-font-size*1.7;
}

h3{
    font-size: $standard-font-size*1.1;
}
p{
    font-family: $body-font;
    font-size: $standard-font-size;
}

// Navigation
.navigation-link {
    font-family: $title-font;
    color: $darkgrey;
    text-decoration: none;
    font-size: 1.5rem;
}

.navigation-link:hover {
    transition-duration: 0.4s;
    color: $blue;
    border-bottom-style: solid;
    border-width: 5px;
}

nav{
    position:fixed;
    top:0;
    z-index:1;
    display:flex;
    width:100%;
    justify-content: center;
    background:white;
    margin:0;
    padding:20px 0;
}

nav a{
    font-family: $title-font;
    color: $darkgrey;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 50px;
}


nav a:hover{
    transition-duration: 0.5s;
    color: $blue; 
    border-bottom-style: solid;
    border-width: 5px;
}

nav a:active{
    border-bottom-style: solid;
    border-width: 5px;
    border-color: $darkgrey;
}

// button
.button-nav {
    font-family: $body-font;
    border-style: solid;
    background-color: white;
    border-radius: 5px;
    color: $darkgrey;
}

.button-nav:hover {
    background-color: $green;
    color: white;
    transition-duration: 0.5s;
}

.button-nav:active{
    background-color: $blue;
}

.submit-btn, .reset-btn{
    font-family: $body-font;
    border-style: solid;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    color: $darkgrey;
}

.submit-btn:hover{
    transition-duration: .5s;
    background-color: $green;
    color:white;
}

.reset-btn:hover{
    transition-duration: .5s;
    background-color: $red;
    color: white;
}

.project-btn{
    text-decoration: none;
    border-style: solid;
    padding:10px 50px;
}

.project-btn:hover{
    background-color: $blue;
    color:white;
    transition-duration: 500ms;
}

.projects{
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
}
// images

.image-link{
    width: 25%;
}

.image-link:hover{
    transition-duration: 0.5s;
    padding: 10px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 5px;
}
img{
    width: 100%;
}

// footer
footer{
    text-align: center;
}

button{
    font-family: $title-font;
    border: none;
    color: $blue;
    background: $paleblue;
    text-decoration: none;
    padding:10px 50px;
    font-size: 1.2rem;
    font-weight: 600;
}

button:hover{
    background: $lightblue;

}

button:focus{
    background: $lightblue;
}
// Container for Home page
#about-container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px;
    // size based on window's height
    min-height:100vh;
    align-items: center;
}

.about-item{
    width:45%;
}

.item-side{
    width:10%;
    height:100%;
    h1{
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}

.item-right{
    width:90%;
}
%name-sizing{
    font-size:5em;
    color:$blue;
    font-weight: bold;
    
}

.name{
    @extend %name-sizing;
}

.last-name{
    @extend %name-sizing
}

.last-name:hover{
    font-size:5.5em;
    text-shadow: 2px 2px #949494;
    transition-duration: 400ms;
}
.name:hover{
    font-size:5.5em;
    text-shadow: 2px 2px #949494;
    transition-duration: 400ms;
}


.project-showcase{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    background: $lightblue;
}

#project-showcase h1{
    text-align: center;
    color:$blue;
    padding-left:20px;
}

.project-showcase-item{
    box-sizing: border-box;
    padding: 0 10px;
    width:50%;
}

.project-description{
    position: relative;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 50px;
    // height:50%;
    filter: drop-shadow(4px 4px #0000003a)
}
.project-showcase-item-full{
    width: 100%;
}

%container-basic{
    display: flex;
    flex-wrap: wrap;  
}

.container{
    @extend %container-basic;
    align-items: center;
}

%container-item-basic{
    box-sizing: border-box;
    padding: 20px;
}

.contact-container{
    @extend %container-basic;
}

.container-item{
    @extend %container-item-basic;
    flex-shrink: 1;
}

.container-item-50 img{
    filter: drop-shadow(4px 4px #0000002d);
}
.container-item-100{
    @extend %container-item-basic;
    width:100%;
}
.container-item-50{
    @extend %container-item-basic;
    width:50%;
}

.container-item img{
    max-height: 50vh;
    filter: drop-shadow(10px 10px #0000002d);
}


// Responsive
// tablet
@media only screen and (max-width: 768px) {

    .name{
        font-size: 3rem;
    }
    .last-name{
        font-size: 3rem;
    }
    
}
// phone
@media only screen and (max-width: 425px) {
    h1{
        font-size: $standard-font-size*2;
    }
    h2{
        font-size: $standard-font-size*1.5;
    }
    nav a{
        font-size: 1rem;
    }

    .item-side{
        width: 100%;
        h1{
            writing-mode:horizontal-tb;
        }
    }

    .projects{
        width: 100%;
    }
    
    .item-right{
        width:100%;
    }
    .name{
        font-size: 1.4rem;
    }
    .last-name{
        font-size: 1.4rem;
    }
    .about-item{
        width:100%;
    }
    
    #project-showcase-graphic-design{
        padding:10px 5px;
    }
    .project-showcase-item{
        width:100%;
    }

    nav a{
        margin-left: 20px;
    }

    .project-btn{
        padding: 5px 20px;
    }


    // MISA banner page
    .container-item-50{
        width:100%;
    }
}

// large screen
@media only screen and (min-width:1440px){
    nav a{
        font-size: $standard-font-size*2.1;
    }
    h1{
        font-size: $standard-font-size*2;
    }
    h2{
        font-size: $standard-font-size*1.8;
    }
    
    p{
        font-size: $standard-font-size*1.2;
    }
    
    .project-btn{
        font-size: $standard-font-size*1.2;
    }
}
// 4k
@media only screen and (min-width: 2560px) {
nav a{
    font-size: $standard-font-size*3.5;
}
h1{
    font-size: $standard-font-size*5;
}
h2{
    font-size: $standard-font-size*4.5;
}

p{
    font-size: $standard-font-size*2.5;
}

.project-btn{
    font-size: $standard-font-size*2.5;
}
}