body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0; }

.home-content {
  margin-top: 55px; }

.content {
  margin: 50px; }

.in-text-link {
  text-decoration: none;
  color: #32295f;
  font-family: "Poppins", sans-serif; }

.in-text-link:hover {
  color: #289e00;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
  margin-left: 10px; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.1em; }

p {
  font-family: "Poppins", sans-serif;
  font-size: 1em; }

.navigation-link {
  font-family: "Open Sans", sans-serif;
  color: #1b1b1b;
  text-decoration: none;
  font-size: 1.5rem; }

.navigation-link:hover {
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #32295f;
  border-bottom-style: solid;
  border-width: 5px; }

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: white;
  margin: 0;
  padding: 20px 0; }

nav a {
  font-family: "Open Sans", sans-serif;
  color: #1b1b1b;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 50px; }

nav a:hover {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #32295f;
  border-bottom-style: solid;
  border-width: 5px; }

nav a:active {
  border-bottom-style: solid;
  border-width: 5px;
  border-color: #1b1b1b; }

.button-nav {
  font-family: "Poppins", sans-serif;
  border-style: solid;
  background-color: white;
  border-radius: 5px;
  color: #1b1b1b; }

.button-nav:hover {
  background-color: #289e00;
  color: white;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.button-nav:active {
  background-color: #32295f; }

.submit-btn, .reset-btn {
  font-family: "Poppins", sans-serif;
  border-style: solid;
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  color: #1b1b1b; }

.submit-btn:hover {
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  background-color: #289e00;
  color: white; }

.reset-btn:hover {
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  background-color: #FF3D45;
  color: white; }

.project-btn {
  text-decoration: none;
  border-style: solid;
  padding: 10px 50px; }

.project-btn:hover {
  background-color: #32295f;
  color: white;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.image-link {
  width: 25%; }

.image-link:hover {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  padding: 10px;
  border-style: solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px; }

img {
  width: 100%; }

footer {
  text-align: center; }

#about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  min-height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about-item {
  width: 45%; }

.item-side {
  width: 10%;
  height: 100%; }
  .item-side h1 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed; }

.item-right {
  width: 90%; }

.name, .last-name {
  font-size: 5em;
  color: #32295f;
  font-weight: bold; }

.last-name:hover {
  font-size: 5.5em;
  text-shadow: 2px 2px #949494;
  -webkit-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms; }

.name:hover {
  font-size: 5.5em;
  text-shadow: 2px 2px #949494;
  -webkit-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms; }

#project-showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  background: #89a6ff34; }

#project-showcase h1 {
  text-align: center;
  color: #32295f;
  padding-left: 20px; }

.project-showcase-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  width: 50%; }

.project-description {
  position: relative;
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 50px;
  -webkit-filter: drop-shadow(4px 4px #0000003a);
  filter: drop-shadow(4px 4px #0000003a); }

.project-showcase-item-full {
  width: 100%; }

.container, .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container-item, .container-item-100, .container-item-50 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px; }

.container-item {
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.container-item-50 img {
  -webkit-filter: drop-shadow(4px 4px #0000002d);
  filter: drop-shadow(4px 4px #0000002d); }

.container-item-100 {
  width: 100%; }

.container-item-50 {
  width: 50%; }

.container-item img {
  max-height: 50vh;
  -webkit-filter: drop-shadow(10px 10px #0000002d);
  filter: drop-shadow(10px 10px #0000002d); }

@media only screen and (max-width: 768px) {
  .name {
    font-size: 3rem; }
  .last-name {
    font-size: 3rem; } }

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.5em; }
  nav a {
    font-size: 1rem; }
  .item-side {
    width: 100%; }
    .item-side h1 {
      -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb; }
  .projects {
    width: 100%; }
  .item-right {
    width: 100%; }
  .name {
    font-size: 1.4rem; }
  .last-name {
    font-size: 1.4rem; }
  .about-item {
    width: 100%; }
  #project-showcase {
    padding: 10px 5px; }
  .project-showcase-item {
    width: 100%; }
  nav a {
    margin-left: 20px; }
  .project-btn {
    padding: 5px 20px; }
  .container-item-50 {
    width: 100%; } }

@media only screen and (min-width: 1440px) {
  nav a {
    font-size: 2.3em; }
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.8em; }
  p {
    font-size: 1.2em; }
  .project-btn {
    font-size: 1.2em; } }

@media only screen and (min-width: 2560px) {
  nav a {
    font-size: 3.5em; }
  h1 {
    font-size: 5em; }
  h2 {
    font-size: 4.5em; }
  p {
    font-size: 2.5em; }
  .project-btn {
    font-size: 2.5em; } }
